# Functional
functional_approach/basic_functional.ipynb
functional_approach/handling_multiple_inputs.ipynb
functional_approach/handling_multiple_outputs.ipynb
functional_approach/residual_block.ipynb
functional_approach/wide_deep_nn.ipynb

# Subclassing
subclassing/basic_subclass.ipynb
subclassing/handling_multiple_inputs_main.ipynb
subclassing/handling_multiple_inputs.ipynb
subclassing/handling_multiple_outputs.ipynb
subclassing/residual_block_layer.ipynb
subclassing/residual_block_layers_main.ipynb
subclassing/wide_deep_nn.ipynb

# Others
# .gitignore